

.btn {
  background-color: $mainBlue;
  color: #FFF;
  padding: .75em 1.5em;
  /* margin-right: 1em; */
  text-decoration: none;
  display: inline-block;
  text-align: center;

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    font-size: 1rem;

    @mixin atSmall {
      font-size: 1.25rem
    }
  }
}
